body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

#title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

#tooltip {
  position: absolute;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 5px;
  display: none;
}

#legend {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}

#graph {
  display: block;
  margin: 0 auto;
}

/* Styles pour le tableau */
#data-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

#data-table th, #data-table td {
  padding: 8px 12px;
  border: 1px solid #ddd;
  text-align: center;
}

#data-table th {
  background-color: #f4f4f4;
}

